.member {
  &__container {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: -2px 5px 40px rgb(255 255 165 / 51%);
    background-color: #81d4fa0a;
    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      box-shadow: -2px 5px 40px rgb(255 255 165);
    }
    @media (max-width: 767px) {
      flex-direction: row;
      min-width: 30rem;
    }
  }
  &__avatar {
    & img {
      min-width: 18rem;
      width: 100%;
    }
  }
  &__about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    gap: 0.7rem;
    @media (max-width: 767px) {
      align-items: flex-start;
    }
  }
  &__name {
    font-family: 'Circular-Medium';
    font-size: 1.8rem;
  }
  &__major {
    font-family: 'Circular-Book';
    font-size: 1.7rem;
    text-align: center;
    @media (max-width: 419px) {
      text-align: start;
    }
  }
  &__github {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: #ffffff;
    font-family: 'Circular-Book';
    font-size: 1.7rem;
  }
}
